.delete {
  color: #aaa;
  margin-left: 1em;
}

table td {
  vertical-align: middle;
}

.success {
  color: #008800;
}
.error {
  color: #aa4444;
  font-weight: bold;
}
form .form_info {
  margin-left: 150px;
  background: #f4f4f4;
  padding: 5px;
  border: 1px solid #eaeaea;
}
