@(events: List[kcacup.models.Event])

@import kcacup.Templating._

<table>
  @for(event <- events) {
    <tr>
      <td>
        @link(event)
      </td>
      <td>
        @if(event.ended) {
          <span class="label">Closed</span>
          @event.bestReplay.map { replay =>
            @replay.username
          }
        } else {
          <span class="label success">OPEN</span>
          Ends @formatDistance(event.endsAt)
        }
      </td>
      <td>
        @event.bestReplay.map(r => time(r.showTime)).getOrElse("No time")
      </td>
    </tr>
  }
</table>
