@(me: Option[kcacup.models.User], event: kcacup.models.Event)

@import kcacup.Templating._
@import helper._

@main(event.name)(me) {

<div class="page-header level_view">
  <h1>
    @event.name
    <small>
      @if(event.ended) {
        <span class="label">Closed</span>
        @formatDate(event.endsAt)
      } else {
        <span class="label success">OPEN</span>
        Ends @formatDistance(event.endsAt)
      }
    </small>
  </h1>
</div>
<p>
  @event.nbUsers players participate.
  @event.bestReplay.map { replay =>
    The best time so far is @time(replay)
  }
</p>

<div class="row level_view">
  <div class="span10">
    <img class="level_image" src="@routes.Assets.at(event.image.publicPath)" width="568px" />
    @me.map { u => @replay.newForm(event) }
    <h3>Recent Times</h3>
    @replay.list(event.recentReplays(30))
  </div>
  <div class="span6">
    <a class="btn large primary" href="@routes.Assets.at(event.level.file.publicPath)">
      Download @event.level.file.name
    </a>

    <h3>Best Times</h3>
    @replay.list(event.sortedReplays)
  </div>
</div>
}
