@(events: List[kcacup.models.Event])

@import kcacup.Templating._

@well = {
  <a class="btn primary" href="@kcacup.controllers.routes.EventAdmin.newForm">
    New Event
  </a>
}

@tableHeaders = {
  <th>Image</th>
  <th>Name</th>
  <th>Level</th>
  <th>Replays</th>
  <th>Duration</th>
  <th>End</th>
}

@error(t: String) = {
  <span class="error">@t</span>
}
@success(t: Any) = {
  <span class="success">@t</span>
}

@admin.list("Events")(well)(tableHeaders) {
  @for(event <- events) {
    <tr>
      <td><img src="@routes.Assets.at(event.image.publicPath)" witdh="100" height="60" /></td>
      <td>
        <a href="@kcacup.controllers.routes.EventAdmin.editForm(event.slug)">
          @event.name
        </a>
      </td>
      <td>@event.level.name</td>
      <td>
        <ol>
        @for(replay <- event.top(5)) {
          <li>
            @replay.username @time(replay)
          </li>
        }
        </ol>
      <td>
        @event.days days
      </td>
      <td>
        @if(event.ended) {
          @formatDate(event.endsAt)
        } else {
          Ends @formatDistance(event.endsAt)
        }
      </td>
      <td>
        <a href="@kcacup.controllers.routes.EventAdmin.editForm(event.slug)">
          edit
        </a>
        <a class="delete jsconfirm" href="@kcacup.controllers.routes.EventAdmin.delete(event.slug)">delete</a>
      </td>
    </tr>
  }
}
