@(title: String)(me: Option[kcacup.models.User])(content: Html)

@metaTitle = {
  KcaCup - @title
}

@stylesheets = {
  <link href="/assets/stylesheets/main.css" rel="stylesheet">
}

@javascripts = {
  <script src="/assets/javascripts/main.js"></script>
}

@loginForm = {
  <a class="register btn primary pull-right" href="@kcacup.controllers.routes.User.newForm()">Register</a>
  <form action="@kcacup.controllers.routes.Auth.login()" method="POST" class="pull-right">
    <input name="username" class="span3" type="text" placeholder="Username" />
    <input name="password" class="span3" type="password" placeholder="Password" />
    <button type="submit" class="btn info">Login</button>
  </form>
}

@authenticated(me: kcacup.models.User) = {
<ul class="nav secondary-nav">
  <li class="dropdown" data-dropdown="dropdown">
    <a href="#" class="dropdown-toggle">@me.username</a>
    <ul class="dropdown-menu">
      <li>@user.link(me.username, "Profile")</li>
      <li><a href="@kcacup.controllers.routes.Auth.logout()">Logout</a></li>
    </ul>
  </li>
</ul>
}

@body = {
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="@kcacup.controllers.routes.Main.index()">KcaCup</a>
        <ul class="nav">
          <!--<li class="active"><a href="#">Home</a></li>-->
        </ul>
        @me.map(authenticated).getOrElse(loginForm)
      </div>
    </div>

  </div>

  <div class="container">

    @content

    <footer>
      <p>KcaCup 2011</p>
    </footer>

  </div> <!-- /container -->
}

@common(metaTitle)(stylesheets)(javascripts)(body)
